<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/attendence.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="Navbar">
        <div>
        {{>animation}}
</div>
        <a href="/attendance">Attendence</a>
        <a href="/classes">Classes</a>
        <a href="#">Analytics</a>
      </div>
      <div class="containerv">
        <div class="topbar">
          <div class="title"><h1 style="font-size: 35px; font-family: 'Courier New', Courier, monospace;">AttenTaker</h1></div>
          <div class="container" style="width: fit-content;">
          <h1>{{username}}</h1>
          <a href="/logout">
          <img
            class="profile"
            src="img/man.png"
            alt="Shubham Jha"
            height="50"
            width="50"
          />
          </a>
          </div>
        </div>
        <div class="date">Date : 10-03-22<br />Time : 10:33 PM</div>
        <div class = "container">
        <div class="containerv" style="margin-left: 0px; width: 30%;">
        <select id="cls">
          <option>Select Class</option>
          {{#each classes}}
            <option value="{{this.class_name}}">{{this.class_name}}</option>
            {{/each}}
        </select>
        <input id="date" class = "entry" type="date" />
        <div class="generateQR">
          <button onclick="generateQR()">Generate QR</button>
        </div>
        <div id="stop" class="generateQR">
        </div>
        <div class="attendeelist">
           <h3 style="text-align: center; font-size: 22px; margin: 10px 0px 10px 0px; color: rgb(78, 78, 78);">Attendee List</h3>
        <table id="attendee">        
        </table>
        </div> 
    </div>
    <div class="containerv" style="margin-left: 0px;">
      <div id="attenQR" class="qrcodeattendance" src="" alt="QR" ></div>
    </div>
      </div>
      </div>
      <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
      <script type="text/javascript">
      function generateQR(){
      let date = document.getElementById("date").value;
      let cls = document.getElementById("cls").value;
      let data = date+cls;
      let qrcodediv = document.getElementById("attenQR");
      qrcodediv.innerHTML = "";
      var qrcode = new QRCode(qrcodediv, {
      text: data,
      width: 600,
      height: 600,
      colorDark : "black",
      colorLight : "whitesmoke",
      correctLevel : QRCode.CorrectLevel.H
    });
    //creating stop button for QR
    let stop = document.getElementById("stop");
    stop.innerHTML = "";
    let button = document.createElement("button");
    button.innerHTML = "Stop";
    button.style.backgroundColor = "red";
    button.onclick = function(){
      qrcodediv.innerHTML = "";
      stop.innerHTML = "";
    }
    stop.appendChild(button);

  }
      </script>

  </body>
</html>
